<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <title>Home</title>
   
</head>
<body>

    <div>
        <style>
        
        body {
  
        background-image: url('https://www.godisageek.com/wp-content/uploads/Twitch.jpg');
        background-position: center;
        height: 800px;
    
    }
    </style>
    </div>
    
    <nav class="navbar navbar-light bg-light d-flex align-items-center">
        <div class="container-fluid">
          <div class="navbar-header">
            <img class="logo" src="https://i.pinimg.com/originals/06/74/32/06743224945a6b170cf1ace85fdfa7d3.png">
            <h2 class="banner" class="navbar-brand h1"> Pictionary</h2>
          </div>
        
        </div>
    </nav>