<%-include('./partials/header.ejs')%>

        
      <div class="container">
        <h2 class="ecn">Enter your Twitch channel name:</h2>
        <div class="input-group mb-3">

        
            <input type="text" name="stream" class="form-control stream__name" placeholder="stream name" aria-describedby="button-addon1">
            <button class="btn btn-dark" type="button" id="button-addon1">Wokaay</button>      
        
        </div>

    </div>
    
    <div class="container"> 

        <h3 class="cate">Different Categories:   Custom input:</h3>
                                 
                                 <div class="text-center">
</div>
      </div>
      
<script src="../scripts/index.js"></script>
</body>
</html>