<%-include('./partials/header.ejs')%>
    
        
      <div class="container">
        <h2 class="ecn">Enter your Twitch channel name:</h2>
        <div class="input-group mb-3">

        
            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <button class="btn btn btn-dark" type="button" id="button-addon1">Wokaay</button>      
        
        </div>

    </div>
    
    <div class="container"> 

        <h3 class="cate">Different Categories:   Custom input:</h3>
                                 
                                 <div class="text-center">
<a href="main.html"><button class="btn btn-dark">Lets Go!!</button></a>
</div>
      </div>

</body>
</html>